<p>
  <PKIT_COMPONENT NAME="begin_cell">
  Standard View - <a href="<PKIT_VAR NAME="SELFURL">pkit_view=print">Printable View</a>
  <PKIT_COMPONENT NAME="end_cell">

<PKIT_IF NAME="USER">
<p>
  <PKIT_COMPONENT NAME="begin_cell">
  You are logged in as <b><PKIT_VAR NAME="LOGIN"></b>.  You may
  <a href="<PKIT_VAR NAME="LOGINOUT_LINK">">Log Out</a>.
  <PKIT_COMPONENT NAME="end_cell">
</PKIT_IF>
</body>
</html>
