<PKIT_COMPONENT NAME="/top">
<PKIT_COMPONENT NAME="/demo_desc">
Please customize the site below.
<ul>
<li><a href="/customize?link_color=0000ff&text_color=000000&bgcolor=ffffff&mod_color=ffffff">Standard</a>
<li><a href="/customize?link_color=ff9933&text_color=ffffff&bgcolor=000000&mod_color=444444">Black/Orange</a>
<li><a href="/customize?link_color=ff9933&text_color=000000&bgcolor=dddddd&mod_color=ffffff">Gray/Orange</a>
</ul>
<PKIT_COMPONENT NAME="/bottom">

