<h1><font color="<TMPL_VAR NAME="link_color">">page</font>kit.org: Website for Apache::PageKit</h1>

PageKit<SUP>TM</SUP> is a set of Perl modules that provides an application framework
uses <a href="http://perl.apache.org">mod_perl</a>
and HTML::Template.  It is based on the
Model/View/Controller approach to design, with complete seperation of
Perl from HTML.  It includes session management, authentication, form
validation, sticky html forms, multiple views/co-branding, modules and
a simple content management system.
<p>
For PageKit services, including commercial support, contact <a href="mailto:pagekit@thoughtstore.com">pagekit@thoughtstore.com</a>.
<p>
<TMPL_INCLUDE NAME="../Include/begin_cell.tmpl">
<h2>Examples</h2>
<PKIT_LINK PAGE="newacct1">New Account Page</PKIT_LINK>
<br>
<PKIT_LINK PAGE="login1">Login Page</PKIT_LINK>
<br>
<PKIT_LINK PAGE="customize">Customize Site Page</PKIT_LINK>
<TMPL_INCLUDE NAME="../Include/end_cell.tmpl">
