<PKIT_INCLUDE NAME="top">
<TMPL_INCLUDE NAME="../Include/demo_desc.tmpl">
Please login below:
<form method="post" action="/login2">
Login:<br>
<input type="text" name="pkit_credential_0">
<p>
Password:<br>
<input type="password" name="pkit_credential_1">
<p>
<input type="submit" name="submit" value="Login">
</form>
<PKIT_INCLUDE NAME="bottom">
