<PKIT_INCLUDE NAME="top">
<TMPL_INCLUDE NAME="../Include/demo_desc.tmpl">
Please enter the information for your new account below:
<form method="post" action="/newacct2">
<PKIT_ERRORFONT NAME="email">Email:</PKIT_ERRORFONT><br>
<input type="text" name="email">
<p>
<PKIT_ERRORFONT NAME="login">Login:</PKIT_ERRORFONT><br>
<input type="text" name="login">
<p>
<PKIT_ERRORFONT NAME="passwd1">Password:</PKIT_ERRORFONT><br>
<input type="password" name="passwd1">
<p>
<PKIT_ERRORFONT NAME="passwd2">Password (verify):</PKIT_ERRORFONT><br>
<input type="password" name="passwd2">
<p>
<input type="submit" name="submit" value="Submit">
</form>
<PKIT_INCLUDE NAME="bottom">
