<h4>Editing template <MODEL_VAR NAME="file"></h4>

<form method="post" action="/pkit_edit/commit_view">
<textarea name="content" rows="20" cols="60"><MODEL_VAR NAME="content" ESCAPE="HTML"></textarea>
<input type="hidden" name="pkit_done">
<input type="hidden" name="file">
<br>
<input type="submit" name="submit" value="Submit">
</form>

TJ2