<?xml version="1.0" ?>
<!DOCTYPE CONFIG SYSTEM "./PageKit_Config-0.97.dtd">
<CONFIG>
<GLOBAL
	default_page = "index"
	login_page="login1"
	model_dispatch_prefix="MyPageKit::MyModel"
	session_expires="+1y"
	uri_prefix = "pagekit/"
/>
<SERVERS>
   <SERVER id="production"
	reload="no"/>
   <SERVER id="staging"
	reload="yes"/>
</SERVERS>
<PAGES>
  <PAGE id="customize" request_param_in_tmpl="yes">
  </PAGE>
</PAGES>
</CONFIG>
