<table border="0" cellspacing="0" cellpadding="1" bgcolor="<TMPL_IF NAME="pkit_view:print">#444444<TMPL_ELSE><TMPL_VAR NAME="link_color"></TMPL_IF>">
	<tr>
	<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="<TMPL_IF NAME="pkit_view:print">#ffffff<TMPL_ELSE><TMPL_VAR NAME="mod_color"></TMPL_IF>">
	<tr valign=top>
		<td valign=top width="100%">
