<TMPL_INCLUDE NAME="../Include/begin_cell.tmpl">
<b>PageKit features used on this page</b>
<table>
<TMPL_LOOP NAME="demo_desc">
	<tr><td valign="top">
		<TMPL_VAR NAME="feature">
	</td><td valign="top">
		<TMPL_VAR NAME="description">
	</td></tr>
</TMPL_LOOP>
</table>
<TMPL_INCLUDE NAME="../Include/end_cell.tmpl">
<p>
