<PKIT_INCLUDE NAME="top">
<PKIT_INCLUDE NAME="demo_desc">
<PKIT_LINK PAGE="newacct1">New Account Page</PKIT_LINK>
<br>
<PKIT_LINK PAGE="login1">Login Page</PKIT_LINK>
<br>
<PKIT_LINK PAGE="customize">Customize Site Page</PKIT_LINK>
<br>
<PKIT_LINK PAGE="language">Language Localization</PKIT_LINK>
<PKIT_INCLUDE NAME="bottom">
