<PKIT_COMPONENT NAME="top">
<PKIT_COMPONENT NAME="demo_desc">
<a href="newacct1">New Account Page</a>
<br>
<a href="login1">Login Page</a>
<br>
<a href="customize">Customize Site Page</a>
<br>
<a href="language">Language Localization</a>
<PKIT_COMPONENT NAME="bottom">
