<PKIT_COMPONENT NAME="top">
<h1><font color="<MODEL_VAR NAME="link_color">">page</font>kit.org: Website for Apache::PageKit</h1>

PageKit<SUP>TM</SUP> is a <a href="http://perl.apache.org">mod_perl</a> based
application framework that uses HTML::Template and XML to
separate the presentation, content and code.  Includes session management,
authentication, form validation, co-branding, and a content
management system.
<p>
Documentation and downloads are available from
<a href="http://search.cpan.org/search?dist=Apache-PageKit">CPAN</a>.
<p>
To browse the <a href="http://sourceforge.net/cvs/?group_id=9597">CVS</a> or join a 
<a href="http://sourceforge.net/mail/?group_id=9597">mailing list</a>, visit
<a href="http://sourceforge.net/projects/pagekit/">Sourceforge</a>.
<p>
For PageKit services, including commercial support, contact <a href="mailto:pagekit@anidea.com">pagekit@anidea.com</a>.
<p>
This site serves as a demo for some of the features of PageKit.  The complete source
code for pagekit.org is located in the eg/ directory of the distribution.
<p>
<PKIT_COMPONENT NAME="begin_cell">
<h2>News</h2>
<table>
	<CONTENT_LOOP NAME="news">
	<tr>
		<td valign="top">
			<b><CONTENT_VAR NAME="date"></b>
		</td>
		<td>
			<b><CONTENT_VAR NAME="title"></b><br>
			<CONTENT_VAR NAME="description">
		</td>
	</tr>
	</CONTENT_LOOP>
</table>
<PKIT_COMPONENT NAME="end_cell">
<p>
<PKIT_COMPONENT NAME="begin_cell">
<h2>Examples</h2>
<a href="newacct1">New Account Page</a>
<br>
<a href="login1">Login Page</a>
<br>
<a href="customize">Customize Site Page</a>
<br>
<a href="language">Language Localization</a>
<PKIT_COMPONENT NAME="end_cell">
<p>
<PKIT_IF NAME="NETSCAPE">
You are running a Netscape Browser
</PKIT_IF>

<PKIT_IF NAME="INTERNET_EXPLORER">
You are running a Microsoft Internet Explorer browser
</PKIT_IF>
<PKIT_COMPONENT NAME="bottom">

