<PKIT_COMPONENT NAME="top">
<h1><font color="<MODEL_VAR NAME="link_color">">page</font>kit.org: Website for Apache::PageKit</h1>

PageKit<SUP>TM</SUP> is a <a href="http://perl.apache.org">mod_perl</a> based
application framework that uses HTML::Template and XML to
separate the presentation, content and code.  Includes session management,
language localization, authentication, form validation, and co-branding.
<p>
<a href="http://perldoc.anidea.com/Apache/PageKit.html">Documentation</a>
and <a href="http://mirror.nyc.anidea.com/CPAN/modules/by-authors/id/T/TJ/TJMATHER/">downloads</a> are available from
<a href="http://cpan.anidea.com/Asset/display?asset_id=10223">CPAN</a>.
<p>
To browse the <a href="http://sourceforge.net/cvs/?group_id=9597">CVS</a> or join a 
<a href="http://sourceforge.net/mail/?group_id=9597">mailing list</a>, visit
<a href="http://sourceforge.net/projects/pagekit/">Sourceforge</a>.
<p>
For PageKit services, including commercial support, contact <a href="mailto:pagekit@anidea.com">pagekit@anidea.com</a>.
<p>
This site serves as a demo for some of the features of PageKit.  The source
code for pagekit.org is available inside the eg/ directory of the distribution,
and online at <a href="http://tjmather.com/pagekit">http://tjmather.com/pagekit/</a>.
<p>

<p>
<PKIT_COMPONENT NAME="begin_cell">
<h2>News</h2>
<table>
	<CONTENT_LOOP NAME="news">
	<tr>
		<td valign="top">
			<b><CONTENT_VAR NAME="date"></b>
		</td>
		<td>
			<b><CONTENT_VAR NAME="title"></b><br>
			<CONTENT_VAR NAME="description">
		</td>
	</tr>
	</CONTENT_LOOP>
</table>
<PKIT_COMPONENT NAME="end_cell">
<p>
<PKIT_COMPONENT NAME="begin_cell">
<h2>Examples</h2>
<a href="newacct1?pkit_done=http://<PKIT_VAR NAME="HOSTNAME">/">New Account Page</a>
<br>
<a href="login1?pkit_done=http://<PKIT_VAR NAME="HOSTNAME">/">Login Page</a>
<br>
<a href="customize">Customize Site Page</a>
<PKIT_COMPONENT NAME="end_cell">
<p>
<PKIT_COMPONENT NAME="bottom">

